div.project {
    display: grid;
    grid-template-columns: 5% 20% 60% 20%;
    grid-template-rows: 15% 45% 17% 8% 15%;
    grid-template-areas: "lines . name ."
                        "lines . preview . "
                        "lines . description ."
                        "lines . stack ."
                        'lines . links .';
    color: rgb(0, 255, 65);
    font-family: "Roboto Mono";
    min-height: 90%;
    color: cyan;
    font-size: large;
}

div.lines{
    display: flex;
    flex-direction: column;
    grid-area: lines;
    border-right: solid 2px silver;
    background-color: rgba(128, 128, 128, 0.1);
    padding: 0 10px;
    user-select: none;
}

.line-number {
    color: rgba(128, 128, 128, 0.7);
    font-family: "Roboto Mono", monospace;
    font-size: large;
    text-align: right;
    line-height: 1.5;
    min-width: 30px;
}

div.project-name {
    display: grid;
    grid-area: name;
    justify-items: center;
    min-height: 100%;
}

div.project-name h1 {
    font-size: 2rem;
    color: rgb(0, 255, 65);
    animation: matrixGlow 3s infinite;
    text-shadow: 0 0 10px rgba(0, 255, 65, 0.8),
                     0 0 20px rgba(0, 255, 65, 0.6);
}

div.project-description{
    display: grid;
    grid-area: description;
    justify-items: center;
    min-height: 100%;
    max-width: 85%;
}

div.project-preview{
    display: grid;
    grid-area: preview;
    justify-items: stretch;
    align-items: baseline;
}

div.project-stack{
    display: grid;
    grid-area: stack;
    align-items: baseline;
    justify-items: left;
}

div.project-links{
    display: grid;
    grid-area: links;
    grid-template-rows: repeat(2,50%);
    grid-template-columns: 100%;
    align-items: center;
    justify-items: left;
}

img{
    box-shadow: 0 0 25px cyan;
}

span.declaration{
    color: rgb(127, 4, 243);
}
span.variable{
    color: white;
}
span.data-type{
    color: deeppink;
}

@keyframes matrixGlow {
    0%, 100% {
        text-shadow: 0 0 5px rgba(0, 255, 65, 0.8),
                     0 0 5px rgba(0, 255, 65, 0.6);
    }
    50% {
        text-shadow: 0 0 5px rgba(0, 255, 65, 1),
                     0 0 5px rgba(0, 255, 65, 0.8),
                     0 0 5px rgba(0, 255, 65, 0.6);
    }
}