body{
  margin: 0;
}

div#app{
  display: grid;
  min-height: 120vh;
  min-width: 98vw;
  font-family: sans-serif;
  grid-template-columns: 28% 72%;
  grid-template-rows: 5% 92% 3%;
  grid-template-areas:   "app-header app-header"
                         "app-menu views"
                         "app-footer app-footer";
  color:#00FF9C;
}

header#app-header{
  display: grid;
  grid-area: app-header;
  align-items: center;
  justify-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}

div#app-menu{
  display: grid;
  grid-area: app-menu;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  grid-template-areas:  "my-links project-navigation";
  background-color: rgb(10, 10, 80);
}

div#my-links{
  display: grid;
  grid-area: my-links;
  grid-template-columns: 100%;
  justify-items: center;
  grid-template-rows: repeat(7, 10%);
  background-color: rgb(1, 1, 36);
  color: #00FF9C;
}
div#project-navigation{
  display: grid;
  font-size: small;
  grid-area: project-navigation;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% 90%;
}

div#views{
  display: grid;
  grid-area: views;
  background-color: rgb(1, 1, 36);
}

footer#app-footer{
  display: grid;
  grid-area: app-footer;
  grid-template-columns: repeat(10, 10%);
  justify-items: center;
  align-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}

.large-icon{
  font-size: x-large;
}

p.handshake{
  border: solid 2px #00FF9C;
  padding: 7px;
}

a{
  color: #00FF9C;
}

div.navigation-header{
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: rgb(1, 37, 15);
  border: solid 1px #00FF9C;
}

div.explorer{
  display: grid;
  justify-items: center;
}

div.projects{
  display: grid;
  grid-template-rows: 3% 50% 47%;
  grid-template-columns: 10% 10% 80%;
  grid-template-areas:  "projects-source projects-source ."
                        ". projects-directory projects-directory"
                        ". . .";
}

div.projects-source{
  display: grid;
  grid-area: projects-source;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100%;
}
div.projects-directories{
  display: grid;
  grid-area: projects-directory;
  align-items: baseline;
  align-content: baseline;
  grid-template-rows: repeat(5, 10%);
}

blockquote{
  display: grid;
  align-items: baseline;
}