body{
  margin: 0;
}

div#app{
  display: grid;
  min-height: 1200px;
  min-width: 800px;
  font-family: sans-serif;
  grid-template-columns: 30% 70%;
  grid-template-rows: 3% 95% 2%;
  grid-template-areas:   "app-header app-header"
                         "app-menu views"
                         "app-footer app-footer";
  color: silver;
}

header#app-header{
  display: grid;
  grid-area: app-header;
  align-items: center;
  justify-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}

div#app-menu{
  display: grid;
  grid-area: app-menu;
  background-color: rgb(10, 10, 80);
}

div#views{
  display: grid;
  grid-area: views;
  background-color: rgb(1, 1, 36);
}

footer#app-footer{
  display: grid;
  grid-area: app-footer;
  grid-template-columns: repeat(10, 10%);
  justify-items: center;
  align-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}
