body{
  margin: 0;
}

div#app{
  display: grid;
  min-height: 130vh;
  max-height: 130vh;
  min-width: 98vw;
  font-family: sans-serif;
  grid-template-columns: 28% 72%;
  grid-template-rows: 5% 92% 3%;
  grid-template-areas:   "app-header app-header"
                         "app-menu views"
                         "app-footer app-footer";
  color:#00FF9C;
}

header#app-header{
  display: grid;
  grid-area: app-header;
  align-items: center;
  justify-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}

div#app-menu{
  display: grid;
  grid-area: app-menu;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  grid-template-areas:  "my-links project-navigation";
  background-color: rgb(10, 10, 80);
}

div#my-links{
  display: grid;
  grid-area: my-links;
  grid-template-columns: 100%;
  justify-items: center;
  grid-template-rows: repeat(7, 10%);
  background-color: rgb(1, 1, 36);
  color: #00FF9C;
}
div#project-navigation{
  display: grid;
  font-size: small;
  grid-area: project-navigation;
  grid-template-columns: 100%;
  grid-template-rows: 5% 5% 90%;
}

div#views{
  display: grid;
  grid-area: views;
  grid-template-columns: 100%;
  grid-template-rows: 5% 95%;
  grid-template-areas: "views-navigator"
                        "routes";
  background-color: rgb(1, 1, 36);
}

div#views-navigator{
  display: grid;
  grid-area: views-navigator;
  grid-template-columns: 15% 85%;
  grid-template-rows: 100%;
  grid-template-areas: "current-page .";
  align-items: baseline;
  justify-items: center;
  background-color: rgb(10, 10, 80);
}
div#current-page{
  display: grid;
  grid-area: current-page;
  align-items: center;
  justify-items: center;
  background-color: rgb(2, 2, 19);
  border: solid 1px cyan;
  box-shadow: 0 0 10px cyan;
  min-width: 97%;
  min-height: 100%;
}
div#routes{
  display: grid;
  grid-area: routes;
}

footer#app-footer{
  display: grid;
  grid-area: app-footer;
  grid-template-columns: 100%;
  justify-items: center;
  align-items: center;
  background-color: rgb(1, 37, 15);
  color: #00FF9C;
  border: solid 2px #00FF9C;
  border-radius: 5px;
}

.large-icon{
  font-size: x-large;
}

p.handshake{
  border: solid 2px #00FF9C;
  padding: 7px;
}

a{
  cursor: pointer;
  color: #00FF9C;
}

div.navigation-header{
  display: grid;
  align-content: center;
  justify-items: center;
  background-color: rgb(1, 37, 15);
  border: solid 1px #00FF9C;
}

div.explorer{
  display: grid;
  justify-items: center;
}

div.projects{
  display: grid;
  grid-area: projects;
  grid-template-rows: 5% 45% 5% 45%;
  grid-template-areas: "frontend-header"
                       "frontend"
                       "backend-header"
                       "backend";
}

@media screen and (min-width: 700px){
  div#projects{
    grid-template-columns: repeat(2, 46%);
    grid-template-rows: 15% 85%;
    grid-template-areas: "frontend-header backend-header"
                         "frontend backend";
    justify-content: space-around;
    column-gap: 20px;
  }
}

div.projects-source{
  display: grid;
  grid-area: projects-source;
  grid-template-columns: repeat(3, 33%);
  grid-template-rows: 100%;
  cursor: pointer;
}
div.projects-directories{
  display: grid;
  grid-area: backend-header;
  align-items: center;
  justify-items: center;
}

div.backend-header1{
  background-color: rgb(42, 4, 78);
}
div.backend-header2{
  background-color: rgba(241, 5, 135, 0.911);
}
div.backend-header3{
  background-color: rgb(42, 4, 78);
}

div.project-logs{
  display: grid;
  grid-area: project-logs;
  row-gap: 15px;
  overflow-y: scroll;
}
blockquote{
  display: grid;
  align-items: baseline;
}

@media screen and (min-width: 700px){
  div#frontend{
    row-gap: 60px;
  }
  div#backend{
    row-gap: 60px;
  }
}

p.project{
  cursor: pointer;
  background-color: transparent;
  border: solid 1px transparent;
  padding: 0px;
}
p.selected{
  background-color: rgb(1, 1, 36);
  border: solid 1px rgb(1, 1, 36);
  padding: 0px;
}
