div#app{
  min-height: 200vh;
  min-width: 95vw;
  background-image: url("./assets/space.jpg");
  background-position: center;
  color: rgba(88, 15, 88, 0.548);
  display: grid;
  grid-template-rows: 30% 70%;
  grid-template-columns: 100%;
  grid-template-areas: "header"
                       "projects";
  color: rgb(11, 208, 235);
}

div#header{
  display: grid;
  grid-area: header;
  grid-template-columns: 30% 40% 30%;
  grid-template-rows: 100%;
  justify-items: center;
  align-items: center;
  font-size: xx-large;
}

div#cyberpunk-container{
  display: grid;
  grid-template-columns: 100%;
}

div.cyberpunk{
  border: 2px solid rgba(241, 5, 135, 0.911);
  box-shadow: 0 0 1rem rgba(241, 5, 135, 0.911);
  background-color: rgb(42, 4, 78);
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  animation: glitch 1s linear infinite;
}

div.cyberpunk2{
  border: 2px solid rgb(11, 208, 235);
  box-shadow: 0 0 1rem rgb(11, 208, 235);;
  background-color: rgba(241, 5, 135, 0.911);
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  animation: glitch2 2s linear infinite;
}

div.cyberpunk3{
  border: 2px solid rgb(11, 208, 235);;
  box-shadow: 0 0 1rem white;
  background-color: rgba(241, 5, 135, 0.911);
  padding: 10px;
  grid-column: 1;
  grid-row: 1;
  animation: glitch3 3s linear infinite;
}

@keyframes glitch{
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: skew(-0.5deg, -0.9deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: skew(0.8deg, -0.1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: skew(-1deg, 0.2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: skew(0.4deg, 1deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}

@keyframes glitch2{
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-2px, -3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-5px, -2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-5px, -1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-2px, -6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitch3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

div#projects{
  display: grid;
  grid-template-columns: repeat(2, 40%);
  grid-template-rows: repeat(3, 30%);
  grid-area: projects;
  justify-content:space-around;
  row-gap: 10px;
}

canvas.objects{
  min-height: 100%;
  min-width: 100%;
}
