div.project-container{
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
    min-width: 100%;
}

div.project1{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 30% 30%;
    grid-template-columns: 100%;
    grid-template-areas: "name"
                         "link"
                         "github"
                         "stack"
                         "description"
                         "preview";
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    animation: glitchproject1 1s linear infinite;
    grid-column: 1;
    grid-row: 1;
    border: solid 2px #1afe39;
    box-shadow: 0 0 1rem #1afe39;
    background-color: rgb(42, 4, 78);
}

div.project2{
    display: grid;
    grid-template-rows: 10% 10% 10% 10% 30% 30%;
    grid-template-columns: 100%;
    grid-template-areas: "name"
                         "link"
                         "github"
                         "stack"
                         "description"
                         "preview";
    min-height: 100%;
    min-width: 100%;
    align-items: center;
    animation: glitchproject2 1.5s linear infinite;
    grid-row: 1;
    grid-column: 1;
    border: solid 2px rgba(241, 5, 135, 0.911);
    box-shadow: 0 0 1rem rgba(241, 5, 135, 0.911);
    background-color: rgba(241, 5, 135, 0.911);
}

@keyframes glitchproject1 {
    0%{
        transform: translate(-1px 4px);
        opacity: 0.50;
    }
    25%{
        transform: translate(3px, -1px);
        opacity: 1;
    }
    50%{
        transform: (0px, 5px);
        opacity: 0.50;
    }
    75%{
        transform: translate(-3px, 1px);
        opacity: 1;
    }
    100%{
        transform: translate(-5px, 1px);
        opacity: 0.50;
    }
}

@keyframes glitchproject2 {
    0%{
        transform: translate(-2px,3px);
        opacity: 0.75;
        border: solid 2px #1afe39;
        box-shadow: 0 0 1rem #1afe39;
        background-color: rgb(42, 4, 78);
    }
    25%{
        transform: translate(2px,0px);
        opacity: 1;
    }
    50%{
        transform: translate(-3px,3px);
        opacity: 0.75;
    }
    75%{
        transform: translate(-4px, 0px);
        opacity: 1;
        border: solid 2px #1afe39;
        box-shadow: 0 0 1rem #1afe39;
        background-color: rgb(42, 4, 78);
    }
    100%{
        transform: translate(-4px, 2px);
        opacity: 0.75;
    }
}