div.project-container{
    display: grid;
    grid-template-columns: 100%;
    min-height: 100%;
    min-width: 100%;
}

div.project1{
    min-height: 90%;
    min-width: 100%;
    align-items: center;
    animation-name: glitchproject1;
    animation-duration: 0.5s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    grid-column: 1;
    grid-row: 1;
    border: solid 2px white;
    border-radius: 5px;
    box-shadow: 0 0 1rem white;
    background-color: rgb(42, 4, 78);
    z-index: 0;
}

div.project2{
    min-height: 90%;
    min-width: 100%;
    align-items: center;
    animation-name: glitchproject2;
    animation-duration: 0.5s;
    animation-delay: 5s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: infinite;
    grid-row: 1;
    grid-column: 1;
    border: solid 2px rgba(241, 5, 135, 0.911);
    border-radius: 5px;
    box-shadow: 0 0 1rem rgba(241, 5, 135, 0.911);
    background-color: rgba(241, 5, 135, 0.911);
    z-index: 0;
}

div.project3{
  display: grid;
  grid-template-rows: 15% 30% 40% 15%;
  grid-template-columns: 25% 75%;
  grid-template-areas: "preview name"
                       "preview links"
                       "description description"
                       "stack stack";
  min-height: 90%;
  min-width: 100%;
  grid-row: 1;
  grid-column: 1;
  border: solid 2px rgb(42, 4, 78);
  border-radius: 5px;
  box-shadow: 0 0 1rem rgba(241, 5, 135, 0.911);
  background-image: linear-gradient(rgb(10, 2, 58),rgb(20, 4, 78),rgb(31, 2, 58),rgb(13, 1, 66),rgb(42, 4, 78));
  z-index: 1;
  overflow:visible;
}

div.frontend{
  background-color: navy;
}

div.name{
  display: grid;
  grid-area: name;
  align-items: baseline;
  justify-items: center;
}

div.links{
  display: grid;
  grid-area: links;
  align-items: center;
  justify-items: left;
}

div.stack{
  display: grid;
  grid-area: stack;
  align-items: center;
  justify-items: left;
}

div.description{
  display: grid;
  grid-area: description;
  align-items: center;
  justify-items: left;
}

div.preview{
  display: grid;
  grid-area: preview;
}


div.project3:hover{
  animation-name: glitchproject2;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
}


@keyframes glitchproject1{
  0% {
    transform: none;
    opacity: 1;
  }
  7% {
    transform: translate(1px 5px) skew(-1deg, 1deg);
    opacity: 0.75;
  }
  10% {
    transform: none;
    opacity: 1;
  }
  27% {
    transform: none;
    opacity: 1;
  }
  30% {
    transform: translate(3px, -3px) skew(1deg, -1deg);
    opacity: 0.75;
  }
  35% {
    transform: none;
    opacity: 1;
  }
  52% {
    transform: none;
    opacity: 1;
  }
  55% {
    transform: translate(-2px, 4px) skew(-2deg, 2deg);
    opacity: 0.75;
  }
  50% {
    transform: none;
    opacity: 1;
  }
  72% {
    transform: none;
    opacity: 1;
  }
  75% {
    transform: translate(4px, 0px) skew(1.5deg, 2deg);
    opacity: 0.75;
  }
  80% {
    transform: none;
    opacity: 1;
  }
  100% {
    transform: none;
    opacity: 1;
  }
}
  
@keyframes glitchproject2{
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(-8px, -12px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(-20px, -8px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(-20px, -4px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(-8px, -24px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

@keyframes glitchproject3 {
  0% {
    transform: none;
    opacity: 0.25;
  }
  7% {
    transform: translate(2px, 3px);
    opacity: 0.5;
  }
  10% {
    transform: none;
    opacity: 0.25;
  }
  27% {
    transform: none;
    opacity: 0.25;
  }
  30% {
    transform: translate(5px, 2px);
    opacity: 0.5;
  }
  35% {
    transform: none;
    opacity: 0.25;
  }
  52% {
    transform: none;
    opacity: 0.25;
  }
  55% {
    transform: translate(5px, 1px);
    opacity: 0.5;
  }
  50% {
    transform: none;
    opacity: 0.25;
  }
  72% {
    transform: none;
    opacity: 0.25;
  }
  75% {
    transform: translate(2px, 6px);
    opacity: 0.5;
  }
  80% {
    transform: none;
    opacity: 0.25;
  }
  100% {
    transform: none;
    opacity: 0.25;
  }
}

a.link{
  color: rgb(21, 241, 1);
}

a.link:active{
  color: rgb(21, 241, 1);
}